<h1>Default/Initial Forecast Snapshot Date Range</h1>

<%= form_with model: @forecast_snapshot, url: { action: :save_dates }, method: :post, html: { style: 'display:inline;' } %>
<%= generate_date_range_controls.html_safe %>
<%= submit_tag 'Save' %>
</form>
