Passengerfile.json
.DS_Store
**/.DS_Store
.idea
.bundle
.vagrant
db/*.sqlite3
log/*.log
tmp/
config/site.yml
script/investigate_visual.png
public/
*.log
*.out
*.sql
config/deploy.rb
config/deploy/*
Capfile
spec/datafiles/specs_output