<p id="notice"><%= notice %></p>

<h1>Listing Feature Toggles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @feature_toggles.each do |feature_toggle| %>
      <tr>
        <td><%= feature_toggle.name %></td>
        <td><%= feature_toggle.description %></td>
        <td><%= feature_toggle.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
