<h1>Editing Tsd File</h1>

<h4>Sorry, cannot edit this at present. Please create a new TSD file object by uploading again.</h4>

<%= link_to 'Show', @tsd_file %> |
<%= link_to 'Back', tsd_files_path %>
