/*
 *= require jquery-ui
 *= require select2
 *= require_tree .
 */

@import "font-awesome-sprockets";
@import "font-awesome";

body { background-color: #fff; color: #333; }

body.nonprod {
  /// Make a "Charlie Brown" type pattern on the background, to remind the user that this is not production
  background:
          linear-gradient(135deg, #ECEDDC 25%, transparent 25%) -50px 0,
          linear-gradient(225deg, #ECEDDC 25%, transparent 25%) -50px 0,
          linear-gradient(315deg, #ECEDDC 25%, transparent 25%),
          linear-gradient(45deg, #ECEDDC 25%, transparent 25%);
  background-size: 100px 100px;
  background-color: lightgoldenrodyellow;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #000; }  // was #666 before buttonlink considerations
a:hover { color: #fff; background-color:#000; }
// a.buttonlink:visited { color: #000; }  // Don't change the color of actuator-type links when they are visited
// a.buttonlink:hover { color: #fff; background-color:#000; }
span.error_message { color: red; }
span.error_message a { color: red; }
span.error_message a:visited { color: red; }
span.error_message a:hover { color: #fff; background-color: red; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

.row0 {
  background-color: none;
}

.row1 {
  background-color: ghostwhite;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

#series_data {
	float:left;
	width:400px;
	/*height:400px;*/
	padding:20px;
	/*overflow-y:scroll;
	border:1px solid black;*/
	margin:0 0 0 10px;
}
#summary_area {position:absolute; width:350px; padding:20px 0 0 15px; overflow-x: auto }
#details_mask {position:absolute; width:530px; height:300px; margin-left:370px; padding:10px 0 0 0; background-color:#FFFFFF; opacity:0.9;}
#details_area {position:absolute; width:100%; margin-left:370px; padding:10px 0 0 0;}
#navigation { padding-top: 20px }
#summary_area h1 {font-size:72px; line-height:60px; margin:0 0 20px 0;}
#summary_area h2 {font-size:50px; line-height:50px; margin:0 0 20px 0;}
td.label {font-weight:bold; padding-right:10px; text-align:right; vertical-align:top;}
ul.series-list {margin:0;}
table th {padding:0 10px 0 0; text-align:left;}
table td {padding: 0 5px 0 0; vertical-align:top; }
table td {border-bottom:1px solid #bbbbbb;}
table.list_table tr:hover { color: #000000; background-color:lightsteelblue; }

table.spreadsheet_data td {border-right:1px solid #bbbbbb;padding:0 3px 0 3px; font-size:10px;}
span.series_count {font-style:italic; font-size:8px;}

table.operations-table { border:1px #999999 solid;}
table.operations-table table { border:1px #999999 solid;}
table.operations-table td { border: 0; padding:3px;}

div.good-response { background-color:#aea; color:white; }
div.bad-response { background-color:#eaa; color:white;}

div.datapoint {padding:2px 5px; float:right;}
div.current-datapoint{font-weight:bold;}
div.datapoint sup { font-size:7px; font-weight:normal; }


table.pattern-info td {border:0;}
table.pattern-info th {border-bottom:1px solid #BBB;}
th.fade{text-align:right;}
td.fade {color:#BBB; text-align:right;}

span.per-chg {color:#999; font-size:10px;}
div#search {display:inline;}
div#search form {display:inline}
div#search input {font-size:10px; /**/ }
#search_field {border-style:solid}
input#eval {border-style:solid; font-size:16px; color:gray;}
#submit_transformation {font-size:16px;}
	
form button,
#submit_search,
#submit_transformation {border: 1px solid;}
table#search_results td {border:none;}

/* anchor tags inside table cells will be highlighted and clickable across the whole width of the <td> cell */
td a:link { text-decoration: none; }
td.linkselect a:link { display: block }

/* No underlining for links in menus */
div#top-level-nav a:link { text-decoration: none; }
div#navigation a:link { text-decoration: none; }
div#chart-board-nav a:link { text-decoration: none; }
