// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hidden_category {
  color: red;
}

.masked_category {
  background-color: lightgrey;
}

.category_non_leaf {
  font-weight:bold;
  cursor:pointer;
}

.category_leaf {
  font-weight:bold;
}
