.fa-check {
  color: green;
}

.fa-times {
  color: red;
}

.button-with-indicator {
  display: inline;
}

.rest-restart-button {
  display: inline;
}

.dvw-restart-button {
  display: inline;
}

.nas-sync-button {
  display: inline;
}
