// Place all the styles related to the ForecastSnapshots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.snapshot-table-title {
  color: #1D667F;
  font-family: 'Geneva', serif;
  font-weight: normal;
  min-width: 100px;
  text-align: center;
}

.snapshot-table {
  border-collapse: collapse;
  font-family: Arial, sans-serif;

  tbody {
    th {
      color: #1D667F;
      font-size: 15px;
      padding-right: 20px;
      text-align: right;
      min-width: 80px;
    }

    td {
      border-bottom: 0;
      text-align: right;
      padding: 5px 5px 0;
    }

    .series-title, .change {
      text-align: left;
      white-space: nowrap;
      // padding-left: 20px;
    }

    .series-title, .series-data {
      white-space: nowrap;
      // padding-top: 20px;
    }

    .change, .change-data {
      padding-top: 0;
    }

    tr:last-child {
      td {
        padding-bottom: 20px;
      }
    }
  }
}

.table-note {
  p {
    font-family: Arial, sans-serif;
    font-size: 15px;
    margin-left: 20px;
  }
}

.freeze-header-column {
  border-bottom: 3px solid #1D667F;
  overflow-x: scroll;
  padding-left: 12em;

  .header-col {
    position: absolute;
	width: 12em;
	left: 0;
    background-color: #FFFFFF;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}