.sa-indicator {
  color: forestgreen;
}

.ns-indicator {
  color: darkorange;
}

.redban {
  color: red;
}

.primary_series {
  color: green;
  font-weight: bold;
}

.grayedout {
  color: #999999;
}

.clip_action_status {
  font-weight: bold;
  background-color: #D0F0C0;
}
