<p id="notice"><%= notice %></p>

<h1>Listing Categories</h1>

<ul>
  <% @category_roots.each do |category| %>
      <%= show_table(category).html_safe %>
  <% end %>
</ul>

<br>

<%= link_to 'New Category', new_category_path %>
