<p id="notice"><%= notice %></p>

<h1>Categories</h1>
Categories can be <span class="hidden_category">hidden</span>, or <span class="masked_category">masked</span> by a hidden ancestor.
<p>
<span id="toggle_all" style="cursor:pointer;cursor:hand;">Expand all</span>
</p>
<ul style='list-style:none'>
  <% @category_roots.sort_by!{ |cat| cat.list_order }.each_index do |i| %>
      <%= show_table(@category_roots[i], i == 0, i + 1 == @category_roots.length).html_safe %>
  <% end %>
</ul>
<script language="JavaScript">
  replayCategoryOpenTree();
</script>
