<p id="notice"><%= notice %></p>

<h1>Listing Categories</h1>

<ul>
  <% @category_roots.sort_by!{|cat| cat.order}.each_index do |i| %>
      <%= show_table(@category_roots[i], i == 0, i + 1 == @category_roots.length).html_safe %>
  <% end %>
</ul>

<br>

<%= link_to 'New Category', new_category_path %>
