	<table>
	<tr><td class="label">Units:</td><td><%= @series.units.nil? ? 1 : @series.units.to_s+'(s)' %></td></tr>
	<tr><td class="label">Aremos: </td><td><%= "#{@series.aremos_missing} missing, #{@series.aremos_diff.round(5) unless @series.aremos_diff.nil?} cumulative difference" %> [ <%= link_to 'refresh', {action: 'refresh_aremos', id: @series.id} %> ]</td></tr>
	<tr><td class="label">Data: </td><td>
		<div id="data-points"><%= render :partial => 'data_points', :locals => {:series => @series, :as => @as, :chg => @chg, :ytd_chg => @ytd_chg, :lvl_chg => @lvl_chg }%></div>
	</td></tr>

	</table>