	<table>
	<tr>
		<td class="label">Data: </td>
		<td><div id="data-points">
			<%= render :partial => 'data_points',
								  :locals => { :series => @series, :as => @as, :chg => @chg, :ytd_chg => @ytd_chg, :lvl_chg => @lvl_chg,
                                loader_count: @series.enabled_loaders.count }%></div>
		</td>
	</tr>
	</table>
