<%= form_with url: { action: :bulk }, method: :post do %>
  Example:
    <p>
      "VSOM2NS@HAW.M".ts_eval= %Q|Series.load_api_fred("MCOILBRENTEU", "M")|
    </p>
    <p>
      This would create the series VSOM2NS@HAW.M with the definition contained within %Q||
    </p>
    <p>
      If a series has already been created, this will add the new definition.
      The last definition assigned will be assigned higher priority than existing definitions.
    </p>
    <p>
      If any ts_eval statement causes a fatal error, all creations in the set are canceled.
      Only when there are no errors, will all new series (and/or definitions) be stored.
    </p>
    <p>
      If submitting a very large set of creations, it is probably best to break it into groups
      of 50 or less.
    </p>
  <p><strong>
    NOTE WELL! A special exception is made to the enforcement of validations that normally require
    most of the metadata fields of Series objects to be filled in. This is impractical for bulk create as currently
    constituted... however, you are therefore obligated, immediately following bulk creation, to use the
    clipboard metadata update function to fill in the required fields for all your new Series!
  </strong></p>
  <div class="field">
    <%= text_area :bulk_defs, :definitions, rows: 20, cols: 100 %>
  </div>
  <div class="actions">
    <%= submit_tag('Create All Definitions') %>
  </div>
<% end %>
<%= link_to 'Back', series_index_path %>
