<%= form_tag('/series/bulk', method: 'post') do %>
    Example:
    <p>
      "VSOM2NS@HAW.M".ts_eval= %Q|Series.load_from_fred("MCOILBRENTEU", "M")|
    </p>
    <p>
      This would create the series VSOM2NS@HAW.M with the definition contained within %Q||
    </p>
    <p>
      If a series has already been created, this will add the new definition.
      The last definition assigned will be assigned higher priority than existing definitions.
    </p>
    <p>
      If any ts_eval statement causes a fatal error, all creations in the set are canceled.
      Only when there are no errors, will all new series (and/or definitions) be stored.
    </p>
  <p>
    If submitting a very large set of creations, it is probably best to break it into groups
    of 50 or less.
  </p>
  <div class="field">
    <%= text_area_tag 'bulk_defs[definitions]', nil, rows: 20, cols: 100 %>
  </div>
  <div class="actions">
    <%= submit_tag('Create All Definitions') %>
  </div>
<% end %>
<%= link_to 'Back', series_index_path %>
