<%= form_with url: { action: :csv2tsd }, method: :post do |f| %>

  <div class="field">
    Upload file <%= file_field_tag 'csv2tsd[filepath]' %>
  </div>
  <div class="actions">
    <%= f.submit 'Do csv-to-tsd conversion' %>
    <%= link_to 'Cancel', :back %>
  </div>

<% end %>
