<%= form_with(url: csv2tsd_path(format: :tsd), method: :post, local: true) do |f| %>

<div class="field">
    Upload file <%= f.file_field 'csv2tsd[filepath]' %>
</div>
<div class="actions">
    <%= f.submit 'Do csv-to-tsd conversion' %>
    <%= link_to 'Cancel', :back %>
</div>

<% end %>