<h1>Updating clipboard series metadata</h1>

<p>Click on checkboxes to select fields that you wish to propagate to all series on the clipboard. Unchecked fields are ignored.</p>

<%= render 'form' %>

<div id="details_area">
    <h3>Clipboard contents</h3>
    <%= render partial: 'list_series', locals: { all_series: @all_series } %>
</div>
