<div id="summary_area">
	<h2>Data Series loaded in the latest nightly</h2>
	<h2>Total: <%= @loaded_series.count %></h2>
  <%= link_to 'Series that failed nightly loading', controller: :series, action: :nightly_missed %>
</div>
<div id="details_mask"></div>
<div id="details_area">
		<ul>
		<% @loaded_series.each do |id, hash| %>
       <li><%= link_to hash[:name], { action: :show, id: id } %>
         (<% hash[:dsids].each do |dsid| %>
             <%= link_to dsid, { controller: :data_sources, action: :edit, id: dsid } %>
          <% end %>)</li>
    <% end %>
		</ul>
</div>

<p>