<div id="summary_area">
	<h2>BEA Series needing to be cleaned up</h2>
	<h2>Total: <%= @old_bea_series.count %></h2>
</div>
<div>
		<ul>
		<% @old_bea_series.each do |series| %>
       <li><%= link_to series.name, series %>
      </li>
    <% end %>
		</ul>
</div>

<p>