<script>
  function setSeriesSearch(set_text) {
      var e = document.getElementById("topSeriesSearchBox");
      e.value = set_text;
      e.focus();
  }
  $(function() {
      function split( val ) {
          return val.split( /,\s*/ );
      }
      function extractLast( term ) {
          return split( term ).pop();
      }
      $( "#topSeriesSearchBox" ) // don't navigate away from the field on tab when selecting an item
          .bind( "keydown", function(event ) {
              if ( event.keyCode === $.ui.keyCode.TAB &&
                  $( this ).data( "ui-autocomplete" ).menu.active ) {
                  event.preventDefault();
              }
          })
          .autocomplete({
              source: function( request, response ) {
                  var the_term = request.term.slice(1);
                  $.getJSON( "/autocomplete", {
                      term: extractLast( the_term )
                  }, response );
              },
              search: function() {
                  if ( this.value[0] !== "=" ) {
                      return false;
                  }
                  // custom minLength
                  var term = extractLast( this.value );
                  if ( term.length < 2 ) {
                      return false;
                  }
              },
              focus: function() {
                  // prevent value inserted on focus
                  return false;
              },
              select: function( event, ui ) {
                  window.location.href = "/series/" + ui.item.value;
                  return false;
              }
          });
  });
</script>
<div class="ui-widget" style="display:inline;font-size:18px">
  <%= form_with url: '/series/new_search' do |f| %>
    <%= f.text_field :search_string, id: 'topSeriesSearchBox', size: 30, spellcheck: false %>
    <input type="submit" style="display:none" />
  <% end %>
</div>
