<script>
  function setSeriesSearch(set_text) {
      document.getElementById("topSeriesSearchBox").value = set_text
  }
</script>
<div class="ui-widget" style="display:inline;font-size:14px">
  <%= form_with url: '/series/new_search' do |f| %>
    <%= f.text_field :search_string, id: 'topSeriesSearchBox', size: 30, spellcheck: false %>
    <input type="submit" style="display:none" />
  <% end %>
</div>
